body {
  margin: 0;
  background: linear-gradient(to bottom right, #000000, #16301c);
  font-family: 'Inter', sans-serif;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  background: #1e1e1e;
}

.logo {
  font-size: 30px;
}

.logo span {
  color: #4ade80;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.botao {
  background: white;
  color: black;
  padding: 8px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
}

.banner {
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to top, #000000, #16301c);
  border-radius: 30px;
  padding: 100px 120px;
  margin: 60px auto;
  max-width: 1200px;
}

.textodentro {
  max-width: 550px;
}

.textodentro p {
  font-size: 34px;
  font-weight: bold;
  line-height: 1.4;
}

.textodentro p span {
  color: #4ade80;
}

.subtitulodentro {
  font-size: 20px;
  color: #d1d5db;
  margin-top: 25px;
  line-height: 1.6;
  display: block;
}

.imgbanner {
  width: 500px;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}


.conhecerplanos {
  display: inline-flex;
  align-items: center;
  background: white;
  color: #1e293b;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 999px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    text-align: center;
    padding: 40px;
  }
