body {
  margin: 0;
  background: #1e1e1e;
  font-family: 'Inter', sans-serif;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  background: #1e1e1e;
}

.logo {
  font-size: 30px;
}

.logo span {
  color: #4ade80;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.botao {
  background: white;
  color: black;
  padding: 8px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom right, #000000, #4b4b4b);
  border-radius: 30px;
  padding: 60px 100px;
  margin: 40px;
}

.textodentro {
  max-width: 500px;
}

.textodentro p {
  font-size: 28spx;
  font-weight: bold;
  line-height: 1.4;
}

.textodentro p span {
  color: #4ade80;
}

.subtitulodentro {
  font-size: 16px;
  color: #d1d5db;
  margin: 20px 0;
  line-height: 1.5;
}

.conhecerplanos {
  display: inline-flex;
  align-items: center;
  background: white;
  color: #1e293b;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 999px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.banner img {
  width: 400px;
  height: auto;
  border-radius: 30px 0 30px 0;
  margin-left: 60px;
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    text-align: center;
    padding: 40px;
  }

  .banner img {
    margin: 20px 0 0;
    width: 100%;
    
  }
}